body {
  font-family: Montserrat, sans-serif;
  background-color: rgb(30, 30, 30);
  margin: 0;
}

img {
  width: 25%;
  height: auto;
}

#about-me {
  font-size: 5.5em;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-bottom: 0.2em;
}

#about-me::before {
  content: "koppinen.dev";
  color: rgba(150, 255, 255);
  animation: animate 10s linear infinite alternate;
}

@keyframes animate {
  25% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    content: "Aki Koppinen";
    color: rgba(150, 255, 255);
  }
  75% {
    color: rgba(255, 255, 255, 0.1);
  }
}

#menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: 4.5em;
  display: block;
  text-decoration: none;
  transition: opacity 400ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-items {
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

@media (max-width: 1400px) {
  #about-me {
    font-size: 5em;
  }
  .menu-item {
    font-size: 4em;
  }
}

@media (max-width: 1200px) {
  #about-me {
    font-size: 4.5em;
  }
  .menu-item {
    font-size: 3.5em;
  }
}

@media (max-width: 992px) {
  #about-me {
    font-size: 4em;
  }
  .menu-item {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  #about-me {
    font-size: 3.5em;
  }
  .menu-item {
    font-size: 2.5em;
  }
}

@media (max-width: 480px) {
  #about-me {
    font-size: 3em;
  }
  .menu-item {
    font-size: 2em;
  }
}

@media (max-width: 319px) {
  #about-me {
    font-size: 2.5em;
  }
  .menu-item {
    font-size: 1.5em;
  }
}
